Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2018-11, with the labels that each got.

#124 Initial AKS setup
  Jenkinsfile_CNP
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactory.java
Labels: ns:bulk-scan-orchestrator-pr-124

#140 RPE-670#6 refactor cleanup
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
Labels: ns:bulk-scan-orchestrator-pr-140

#75 Reset evidenceHandled field when supplementary evidence is added
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/SupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-75

#142 RPE-670#6.5 adding more validations
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
Labels: ns:bulk-scan-orchestrator-pr-142

#148 Introduce readiness and liveness checks
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-orchestrator-pr-148

#149 Use debian slim image
  Dockerfile
Labels: ns:bulk-scan-orchestrator-pr-149

#143 RPE-670#7 fetch the case to attach
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/RootControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
Labels: ns:bulk-scan-orchestrator-pr-143

#144 RPE-670#8 added the start event call
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
Labels: ns:bulk-scan-orchestrator-pr-144

#145 RPE-670#9 refactor to cleanup api calls.
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bulk-scan-orchestrator-pr-145

#146 RPE-670#10 addition of submit call
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bulk-scan-orchestrator-pr-146

#150 RPE-670#12 scanned document fetching and validation
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ScannedRecordValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bulk-scan-orchestrator-pr-150

#151 RPE-670#13 detect and error on duplicate document number
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ScannedRecordValidator.java
Labels: ns:bulk-scan-orchestrator-pr-151

#154 RPE-657 Supplementary Evidence bug fix
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/CcdCollectionElement.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/CcdDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_event-triggers_attachscanneddocs_token-011493bb-650d-4460-ab24-2149d015b2d8.json
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_events-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_exception_record-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
Labels: ns:bulk-scan-orchestrator-pr-154

#155 RPE-670#14 deal with multiple documents
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/JurisdictionToUserMapping.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bulk-scan-orchestrator-pr-155

#157 RPE-670#15 better error message for user.
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackProcessor.java
Labels: ns:bulk-scan-orchestrator-pr-157

#160 RPE-260 Fixed functional test for attach exception record to the case…
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-160

#158 BSP-246#1 removing all suppressed warnings
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
Labels: ns:bulk-scan-orchestrator-pr-158

#159 BSP-246#2 return a new list if case has none.
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
Labels: ns:bulk-scan-orchestrator-pr-159

#135 Feature: delegate publisher
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/ExceptionRecordCreatorTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/DelegatePublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainerTest.java
Labels: ns:bulk-scan-orchestrator-pr-135

#164 BPS-244 Renamed ccd event types and combined scanRecords and scannedDocuments
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCaseCreator.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ScannedDocumentValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_exception_record-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
Labels: ns:bulk-scan-orchestrator-pr-164

#170 BPS-277 Added exception record reference to the scanned documents
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ModelMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-170

#167 Fix `evidenceHandled` flag
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/SupplementaryEvidence.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-167

#171 Remove duplication in document attach event
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
Labels: ns:bulk-scan-orchestrator-pr-171

#172 Fix access level reported by sonar
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
Labels: ns:bulk-scan-orchestrator-pr-172
