Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2018-12, with the labels that each got.

#174 Enable Divorce and Probate jurisdictions in AAT
  infrastructure/aat.tfvars
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-174

#175 Read OCR data from the queue
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-175

#176 Extract ScannedDocumentsExtractor from ScannedDocumentsHelper
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/resources/case-data/multiple-scanned-docs.json
  src/test/resources/case-data/single-scanned-doc.json
Labels: ns:bulk-scan-orchestrator-pr-176

#177 BPS-403 Prefix jurisdiction to the Exception Record case type id
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/Environment.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_exception_record-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
Labels: ns:bulk-scan-orchestrator-pr-177

#181 Include OCR data in CCD data
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsExtractor.java
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/CcdKeyValue.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ModelMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/DatetimeHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/case-data/multiple-scanned-docs.json
  src/test/resources/case-data/single-scanned-doc.json
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-181

#182 Handle messages with NEW_APPLICATION classification
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/ExceptionRecordCreatorTest.kt
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainerTest.java
Labels: ns:bulk-scan-orchestrator-pr-182

#183 BPS-400 Handle NullPointerException when scanned documents are null in ccd case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/resources/case-data/missing-scanned-documents.json
Labels: ns:bulk-scan-orchestrator-pr-183

#184 Add notification queue to AKS setup
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-184

#188 Suppress OWASP failure
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-188

#192 BPS-411 Create Exception Record for invalid case reference
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetriever.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrieverTest.java
Labels: ns:bulk-scan-orchestrator-pr-192
