Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-07, with the labels that each got.

#483 Update evidenceHandled flag when attaching ER to an existing case
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_events-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
Labels: ns:bulk-scan-orchestrator-pr-483

#491 Fix/Suppress `jackson-databind` dependency
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-491

#492 Fix sonar complaints
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
Labels: ns:bulk-scan-orchestrator-pr-492

#493 Switch sonarqube dependency to another task
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-493

#494 Unit test cover branches
  Jenkinsfile_CNP
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-494

#497 Update Dockerfile to use image from new place
  Dockerfile
Labels: ns:bulk-scan-orchestrator-pr-497

#501 Suppress one cve for shadowed jackson-databind
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-501

#503 Include http configuration so app insights can track
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/dm/DocumentManagementConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/HttpConfiguration.java
Labels: ns:bulk-scan-orchestrator-pr-503

#505 Use Helm charts from hmctsconfig repository
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
Labels: ns:bulk-scan-orchestrator-pr-505
