Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-12, with the labels that each got.

#783 comment for liveness setting
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-783

#785 set exception record case reference to create case data
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-785

#784 UnprocessableEntityException
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/InvalidCaseDataException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/ServiceResponseParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-784

#787 Create a new map when updating the case data in the transformation response
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
Labels: ns:bulk-scan-orchestrator-pr-787

#788 add payment processing to case attachment
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope-with-payment.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
Labels: ns:bulk-scan-orchestrator-pr-788

#789 separate submit event methods for exception record creation and automatic attachment
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-789

#780 Introduced CcdCaseUpdater
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
Labels: ns:bulk-scan-orchestrator-pr-780

#795 Return 500 status for internal errors
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackControllerAttachToCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-795

#799 fix queue connection setting for functional tests
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-799

#794 Create Exception record when ccd returns 404 response for supplementary evidence
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/Environment.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/UnableToAttachDocumentsException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-794

#800 Add Divorce transformation endpoint in aat
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-800

#796 Create log entry after starting an event in CCD
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
Labels: ns:bulk-scan-orchestrator-pr-796

#802 BPS-932 Add functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope-with-payment.json
Labels: ns:bulk-scan-orchestrator-pr-802

#804 Add functional test helper method for finding exception records
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseSearcher.java
Labels: ns:bulk-scan-orchestrator-pr-804

#801 Configure case type IDs for services (duplicate prevention)
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-801

#805 Add functional test for updating case with OCR data
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/envelopes/supplementary-evidence-with-ocr-envelope.json
Labels: ns:bulk-scan-orchestrator-pr-805

#807 Return 400 when case in callback is empty
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/InvalidRequestException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/ResponseExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackControllerAttachToCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-807

#810 integration tests stop on first failing test
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-810

#812 Revert #778 - "Callback validations"
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-812

#792 extract surname from OCR and add surname to exception
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/feature/OcrDataOrderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-792

#816 Introduced integration tests for attaching exception record with OCR
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordWithOcrTest.java
  src/integrationTest/resources/ccd/callback/attach/request/valid-supplementary-evidence-with-ocr.json
  src/integrationTest/resources/ccd/callback/attach/request/wrong-classification.json
  src/integrationTest/resources/ccd/callback/attach/response/ccd-start-event-for-case-worker.json
  src/integrationTest/resources/ccd/callback/attach/response/ccd-submit-event-for-case-worker.json
  src/integrationTest/resources/ccd/callback/attach/response/client-update-ok-no-warnings.json
Labels: ns:bulk-scan-orchestrator-pr-816

#817 Fixes in data classes
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/request/CaseUpdate.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/request/ExistingCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/response/CaseUpdateDetails.java
Labels: ns:bulk-scan-orchestrator-pr-817

#818 Renamed CreateCaseValidator to ExceptionRecordValidator
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/ExceptionRecordValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-818
