Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-05, with the labels that each got.

#422 Bump ServiceBus message 1.2.8 -> 1.2.13
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
Labels: ns:bulk-scan-orchestrator-pr-422

#424 Update build tools
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:bulk-scan-orchestrator-pr-424

#431 Suppress javax.activation
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-431

#430 CMC Jurisdiction to Sidam User Mapping (AAT,SPROD)
  infrastructure/aat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-430

#433 Create configuration bits for mapping services to case type IDs and jurisdictions
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/config/ServiceConfigProvider.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/config/ServiceNotConfiguredException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/config/ServiceConfigProviderTest.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-433

#432 Bps 641 read document uuid from queue
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/resources/envelopes/dead-letter-envelope.json
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/integrationTest/resources/servicebus/message/supplementary-evidence-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/case-data/null-fields-in-doc.json
  src/test/resources/case-data/single-scanned-doc.json
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-432

#436 Bump jackson-databind 2.9.8 -> 2.9.9
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-436

#435 Add document management config to core app settings
  infrastructure/main.tf
  src/functionalTest/resources/application.yaml
  src/main/resources/application.yaml
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-435

#434 Use document uuid to construct the document url
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/EnvelopeMessager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/feature/OcrDataOrderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-434

#437 Removed document url from service bus model
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/resources/envelopes/dead-letter-envelope.json
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/integrationTest/resources/servicebus/message/supplementary-evidence-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/case-data/null-fields-in-doc.json
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-437

#438 Create validation methods required for attaching case by legacy ID
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseReferenceValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/CaseReferenceTypes.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/JurisdictionToUserMapping.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bulk-scan-orchestrator-pr-438

#440 Simplify the extraction of service name from case type Id
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
Labels: ns:bulk-scan-orchestrator-pr-440

#446 Make constants uppercase in AttachExceptionRecordToExistingCaseTest
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-446

#447 Reshape AttachExceptionRecordToExistingCaseTest
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-447
