Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-03, with the labels that each got.

#303 Add finrem user setup
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-orchestrator-pr-303

#304 Prevent attaching exception record to a case if it's already attached
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-304

#301 Helm chart initial release
  Jenkinsfile_CNP
  build.gradle
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.template.yaml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-orchestrator-pr-301

#305 Clean up CcdCallbackController
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
Labels: ns:bulk-scan-orchestrator-pr-305

#307 Pass event type and summary as parameters
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-307

#311 Do not start a ccd event when envelope contains only duplicates
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainerTest.java
Labels: ns:bulk-scan-orchestrator-pr-311

#313 Improve ccd event logging
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
Labels: ns:bulk-scan-orchestrator-pr-313

#312 Update test dependencies
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-312

#314 Use `CcdApi` in `AbstractEventPublisher`
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
Labels: ns:bulk-scan-orchestrator-pr-314

#317 Remove default connection string from application settings
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-317

#323 Remove messages from dlq
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/DlqReceiverProvider.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/exceptions/ConnectionException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-323

#324 Update ase-name
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-324

#326 Bump service-auth-provider-client from 2.0.0 to 2.0.1
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/AuthConfig.java
Labels: ns:bulk-scan-orchestrator-pr-326

#327 Added a temporary config to force updating the App config
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-327

#329 Disable dlq messages deletion scheduled job on prod
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-329

#343 Stop retrying to connect to Service Bus queue
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueConfig.java
Labels: ns:bulk-scan-orchestrator-pr-343

#328 Removed temporary App config
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-328

#345 Preparation for Sidam AAT switching
  Jenkinsfile_CNP
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  infrastructure/aat.tfvars
Labels: ns:bulk-scan-orchestrator-pr-345

#347 Disable finrem jurisdiction on aat
  infrastructure/aat.tfvars
Labels: ns:bulk-scan-orchestrator-pr-347

#334 Fix/fix dlq scheduler
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-334

#348 BPS-538 Updated aat config for dlq scheduler
  infrastructure/aat.tfvars
Labels: ns:bulk-scan-orchestrator-pr-348

#349 Update provider version
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-349

#350 Downgrade azurerm provider to version 1.22.1
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-350

#354 Fix AKS builds
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-354

#346 Feature: manually dead letter
  build.gradle
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.template.yaml
  infrastructure/main.tf
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-346

#355 Updated dlq scheduler to log messageId for invalid messages
  infrastructure/aat.tfvars
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
Labels: ns:bulk-scan-orchestrator-pr-355
