Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-01, with the labels that each got.

#194 Add some logging related with message processing
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/MessageProcessingException.java
Labels: ns:bulk-scan-orchestrator-pr-194

#195 Added sprod tfvars for performance testing
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-195

#196 BPS-413 Added logs to debug supplementary evidence functional tests failures
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bulk-scan-orchestrator-pr-196

#197 Pin azure rm version
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-197

#201 Upgrade dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-201

#207 Suppress jackson-databind dependency checks
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-207

#200 Include file name in log info for message processing completion
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
Labels: ns:bulk-scan-orchestrator-pr-200

#205 Added subtype to Document to display it in ccd
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/integrationTest/resources/servicebus/message/supplementary-evidence-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ModelMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/case-data/single-scanned-doc.json
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-205

#206 Prevent messages from being reprocessed immediately after failure
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/IntegrationTestConfig.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/MessageProcessingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/IMessageOperations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/MessageOperations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/MessageOperationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-206

#211 Convert ModelMapper abstract class to interface
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ModelMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
Labels: ns:bulk-scan-orchestrator-pr-211

#209 Improve logging
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetriever.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/PublisherResolutionException.java
Labels: ns:bulk-scan-orchestrator-pr-209

#212 Handle InterruptedException in message finalisation
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
Labels: ns:bulk-scan-orchestrator-pr-212

#213 Revert "Added subtype to Document to display it in ccd (#205)"
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/integrationTest/resources/servicebus/message/supplementary-evidence-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ModelMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/case-data/single-scanned-doc.json
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-213

#202 Update variables.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-orchestrator-pr-202

#214 Added subtype to Document to display it in ccd
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/integrationTest/resources/servicebus/message/supplementary-evidence-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ModelMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/case-data/single-scanned-doc.json
  src/test/resources/envelopes/example.json
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_event-triggers_attachscanneddocs_token-011493bb-650d-4460-ab24-2149d015b2d8.json
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_events-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
  src/test/resources/mappings/caseworkers_640_jurisdictions_bulkscan_case-types_bulk_scanned_cases_1539007368674134_exception_record-5e24bd28-34a3-4a7c-a78e-359b9dcc7254.json
Labels: ns:bulk-scan-orchestrator-pr-214

#215 Stop using azure-servicebus-spring-boot-starter
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueClientsConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/MessageOperations.java
Labels: ns:bulk-scan-orchestrator-pr-215

#217 Log ID of created case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
Labels: ns:bulk-scan-orchestrator-pr-217

#218 Create client for processed-envelopes queue
  Jenkinsfile_CNP
  kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueClientsConfig.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-218

#223 Add a missing connection string setting
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-223

#222 Send message to processed-envelopes queue after successful processing
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/IntegrationTestConfig.kt
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/IProcessedEnvelopeNotifier.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/NotificationSendingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifier.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/ProcessedEnvelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifierTest.java
Labels: ns:bulk-scan-orchestrator-pr-222

#228 Change Service Bus connection string to one with proper rights
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-228

#231 support divorce sevice on demo env
  infrastructure/demo.tfvars
Labels: do not merge, ns:bulk-scan-orchestrator-pr-231

#230 BPS-447 Update ocr data format to list of fields
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/util/OcrDataDeserialiser.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/feature/OcrDataOrderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCollectionElementComparator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-230
