Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-09, with the labels that each got.

#546 Bump `checkstyle` plugin to 8.24
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:bulk-scan-orchestrator-pr-546

#547 Fix checking messages on dlq
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-547

#548 Remove `microserviceName` from terraform output file
  infrastructure/output.tf
Labels: ns:bulk-scan-orchestrator-pr-548

#550 Configure concurrent jobs
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/SchedulerConfig.java
Labels: ns:bulk-scan-orchestrator-pr-550

#552 Introduce new validator for event id
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-552

#553 Replace current use of event id validator with new one
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-553

#555 Rename queue message field and corresponding class field
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
Labels: ns:bulk-scan-orchestrator-pr-555

#558 Add `CreateCaseCallbackService` with event validation step
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-558

#559 Fix user auth ccd issue
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-559

#560 Prepare validation for create case callback request
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bulk-scan-orchestrator-pr-560

#562 Feature: validate case details for `createCase` callback
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bulk-scan-orchestrator-pr-562

#565 Disable scheduled tasks in functional tests
  src/functionalTest/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-565

#567 Include `scannedDocuments` and `ocrData` population for transformation request object
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-567

#571 Bumping java and servicebus charts
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
Labels: ns:bulk-scan-orchestrator-pr-571

#572 Make validation as separate component
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-572

#578 Suppress jackson databind
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-578

#573 Require transformation URL to be configured
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-573

#576 Add transformation client to `createCase` callback service
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-576

#579 Add S2S dependency to case creation service
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-579

#581 Include envelope ID in exception records
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/feature/OcrDataOrderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-581

#584 Extend CcdApi to search for exception records by envelope ID
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/Environment.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
  src/integrationTest/resources/ccd/response/search-by-envelope-id/README.md
  src/integrationTest/resources/ccd/response/search-by-envelope-id/result-empty.json
  src/integrationTest/resources/ccd/response/search-by-envelope-id/result-format-two-records.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bulk-scan-orchestrator-pr-584

#586 Fix interpolation problem in terraform code
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-586

#592 Bump jackson-databind 2.9.9.3 -> 2.9.10
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-592

#582 Added checks for classification and OCRs
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-582

#593 Bps 720 add form type
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseFinderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
Labels: ns:bulk-scan-orchestrator-pr-593

#594 BPS-819 add form type to ExceptionRecord model used in Transformation API
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bulk-scan-orchestrator-pr-594

#585 Make service result object more sensible
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/in/CcdCallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/ProcessResult.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-585

#597 Introduced Payment
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Payment.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseFinderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
Labels: ns:bulk-scan-orchestrator-pr-597

#598 Prevent creating multiple exception records from same envelope
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-598

#587 Add create case callback endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-empty-case-data.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception-warnings-flag-on.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-new-application-with-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-new-application.json
  src/integrationTest/resources/ccd/callback/transformation-client/response/ok-no-warnings.json
  src/integrationTest/resources/ccd/callback/transformation-client/response/ok-with-warnings.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-587

#599 Add CCD API to create case callback
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/ccd/response/start-event.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-599

#603 Feature/bps 746 make ocr mandatory for both exception and new application
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-exception-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-new-application-without-ocr.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-603

#604 Enable duplicate exception record detection for all services
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
  infrastructure/variables.tf
Labels: ns:bulk-scan-orchestrator-pr-604

#606 Add PROBATE callback url for demo env
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-606

#607 Changes in config for publishing payments
  Jenkinsfile_CNP
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/output.tf
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueClientsConfig.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-orchestrator-pr-607

#608 Use `createNewCase` as event id
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-empty-case-data.json
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-exception-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-new-application-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception-warnings-flag-on.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-new-application-with-ocr.json
  src/integrationTest/resources/ccd/callback/transformation-client/response/ok-no-warnings.json
  src/integrationTest/resources/ccd/callback/transformation-client/response/ok-with-warnings.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-608

#602 Stop dead-lettering envelope messages when notification fails
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
Labels: ns:bulk-scan-orchestrator-pr-602
