Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-02, with the labels that each got.

#236 Updated idam url to point to idam test envionment
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-236

#239 Updated cluster service external name
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-orchestrator-pr-239

#238 Nicer property extraction in tests
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
Labels: ns:bulk-scan-orchestrator-pr-238

#234 Feature: custom actuator endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/out/JurisdictionConfigurationStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/JurisdictionToUserMapping.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/IdamConfigStatusTest.java
  src/smokeTest/resources/application.conf
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpointTest.java
Labels: ns:bulk-scan-orchestrator-pr-234

#240 Remove not needed mapper interface
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-240

#242 Clean up mapper test
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-242

#243 Simplify mapper test
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-243

#246 Added saat tfvars for saat environment build
  infrastructure/saat.tfvars
Labels: ns:bulk-scan-orchestrator-pr-246

#241 Update dependencies
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/SupplementaryEvidenceCreatorTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/PortWaiter.kt
Labels: ns:bulk-scan-orchestrator-pr-241

#249 Update kotlin plugin
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bulk-scan-orchestrator-pr-249

#248 Clean up functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bulk-scan-orchestrator-pr-248

#245 Don't add duplicate docs to case
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
Labels: ns:bulk-scan-orchestrator-pr-245

#250 Revert "Bump junit5"
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-250

#258 Remove not needed state from test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bulk-scan-orchestrator-pr-258

#251 Remove kotlin 01: integration tests' config
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/Environment.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/PortWaiter.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordToExistingCaseTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CaseRetrievalTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/ExceptionRecordCreatorTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/RootControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/SupplementaryEvidenceCreatorTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/Environment.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/IntegrationTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/config/IntegrationTestConfig.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpointTest.java
Labels: ns:bulk-scan-orchestrator-pr-251

#259 Simplify case creation in functional test: step 1
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCaseCreator.java
Labels: ns:bulk-scan-orchestrator-pr-259

#261 Remove kotlin 02: integration tests' util
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/PortWaiter.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/MessageSender.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/util/MessageSender.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/util/PortWaiter.java
Labels: ns:bulk-scan-orchestrator-pr-261

#260 Simplify functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bulk-scan-orchestrator-pr-260

#263 Remove kotlin 03: integration tests ccd events
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.kt
Labels: ns:bulk-scan-orchestrator-pr-263

#264 Clean up tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
Labels: ns:bulk-scan-orchestrator-pr-264

#265 Make ccd doc mapping null safe
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/resources/case-data/null-doc.json
  src/test/resources/case-data/null-fields-in-doc.json
Labels: ns:bulk-scan-orchestrator-pr-265

#262 Use jdk-8 191 alpine 3.9 image.
  Dockerfile
Labels: ns:bulk-scan-orchestrator-pr-262

#268 Remove kotlin 04: integration tests ccd
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.kt
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.kt
Labels: ns:bulk-scan-orchestrator-pr-268

#271 Update tidam url to use sidam
  infrastructure/saat.tfvars
Labels: ns:bulk-scan-orchestrator-pr-271

#272 Remove kotlin 05: integration tests remove kotlin
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-272

#269 Handle nulls when mapping doc to scanned doc
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-269

#273 Remove kotlin 06: functional tests
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/EnvelopeMessager.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/EnvelopeMessager.kt
Labels: ns:bulk-scan-orchestrator-pr-273

#277 Don't add supplementary evidence with the same control number
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-277

#278 Cleanup after kotlin removal
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/MessageSender.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/util/PortWaiter.java
Labels: ns:bulk-scan-orchestrator-pr-278

#285 Simplify delegate publisher
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/DelegatePublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
Labels: ns:bulk-scan-orchestrator-pr-285

#288 Add config for probot-stale
  .github/stale.yml
Labels: ns:bulk-scan-orchestrator-pr-288

#286 Remove DelegatePublisher
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/DelegatePublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainerTest.java
Labels: ns:bulk-scan-orchestrator-pr-286

#289 Update variables.tf to enable divorce
  infrastructure/variables.tf
Labels: ns:bulk-scan-orchestrator-pr-289

#291 Refactor 01: breakdown envelope processor
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/exceptions/MessageProcessingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/handler/MessageProcessingResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/handler/MessageProcessingResultType.java
Labels: ns:bulk-scan-orchestrator-pr-291

#296 Remove a non-existing class from Sonar coverage exclusions
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-296

#297 Fix formatting
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-297

#294 Update idam java client
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetriever.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrieverTest.java
  src/test/resources/mappings/oauth2_authorize-d28a821f-6438-477d-b8c6-5693d2bf62ed.json
  src/test/resources/mappings/oauth2_token-dbd698ed-4dea-45b9-b18b-75be79eed00c.json
Labels: ns:bulk-scan-orchestrator-pr-294

#299 Revert "Force update values from vault"
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-299

#298 Clarify AttachCaseCallbackService
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-298

#290 Fix smoke test task
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExampleTest.java
Labels: ns:bulk-scan-orchestrator-pr-290
