Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-10, with the labels that each got.

#611 Fix parsing of case data dates
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-exception-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-new-application-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception-warnings-flag-on.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-new-application-with-ocr.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-611

#618 Fix case data dates
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-exception-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/invalid-new-application-without-ocr.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception-warnings-flag-on.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-exception.json
  src/integrationTest/resources/ccd/callback/create-case/request/valid-new-application-with-ocr.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-618

#617 Feature/new parse payment info and publish in orchestrator
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreationTest.java
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/IPaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublishingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/PaymentData.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/PaymentsData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-617

#609 Reference CCD-related values through constants
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/YesNoFieldValues.java
Labels: ns:bulk-scan-orchestrator-pr-609

#619 Fix issue parsing datetime object for scanned docs
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-619

#620 Always prevent creation of duplicate exception records
  charts/bulk-scan-orchestrator/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/feature/OcrDataOrderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-620

#626 Use `LocalDateTime` instead of `Instant`
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
Labels: ns:bulk-scan-orchestrator-pr-626

#627 Fix S2S token passed to Transformation service
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
Labels: ns:bulk-scan-orchestrator-pr-627

#624 Refactor - extract 'envelopes' queue related classes to separate package
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataExtractor.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCaseCreator.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseFinder.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/DlqReceiverProvider.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/handler/MessageProcessingResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/handler/MessageProcessingResultType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/model/Classification.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/model/Document.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/model/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/model/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/model/Payment.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/feature/OcrDataOrderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseFinderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-624

#629 Fix deprecated mockito method usage
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
Labels: ns:bulk-scan-orchestrator-pr-629

#621 Feature/bps 814 add awaiting dcn processing to exception record
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-621

#630 Add request logging for CCD API client
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-630

#632 Update gradle build
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:bulk-scan-orchestrator-pr-632

#633 Extend payments queue message by service name
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/PaymentsData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-633

#635 Provide all ccd url details to transformation client
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/DocumentUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
Labels: ns:bulk-scan-orchestrator-pr-635

#638 Refactor/extract processed envelopes queue classes to separate package
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/IProcessedEnvelopeNotifier.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/NotificationSendingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelopeNotifier.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifierTest.java
Labels: ns:bulk-scan-orchestrator-pr-638

#640 Added envelopeId to PaymentsData
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/PaymentsData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-640

#641 Prepare for 'update payments' command
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/IPaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/Labels.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/CreatePaymentsCommand.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-641

#643 Use event id from transformation endpoint as it is service specific
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/ccd/callback/transformation-client/response/ok-no-warnings.json
  src/integrationTest/resources/ccd/callback/transformation-client/response/ok-with-warnings.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-643

#644 Payments: Add method for sending update commands to the queue
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/IPaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/Labels.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/UpdatePaymentsCommand.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-644

#645 Refactor : use interface for payment queue messages
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/IPaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/CreatePaymentsCommand.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/PaymentCommand.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/UpdatePaymentsCommand.java
Labels: ns:bulk-scan-orchestrator-pr-645

#646 Moving to latest chart to fix product chart
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
Labels: ns:bulk-scan-orchestrator-pr-646

#648 Make sure document type is passed lower case
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/DocumentType.java
Labels: ns:bulk-scan-orchestrator-pr-648

#647 Added message content to log.info
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
Labels: ns:bulk-scan-orchestrator-pr-647

#650 Add awaitingPaymentDCNProcessing field to Exception record
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-650

#660 Added property, bumped charts version
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bulk-scan-orchestrator-pr-660

#657 CreateCase Callback Functional Test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/resources/envelopes/new-envelope-create-case-with-evidence.json
Labels: ns:bulk-scan-orchestrator-pr-657

#655 Add containsPayments field to Exception record
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-655

#662 Clear warnings after case creation from exception record
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/resources/envelopes/new-application-with-ocr-data-warnings.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
Labels: ns:bulk-scan-orchestrator-pr-662

#661 Simplify create case callback service signature
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-661

#664 Simplify service method - no need to flatmap at all
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
Labels: ns:bulk-scan-orchestrator-pr-664

#668 use new base 1.4 java image to use default encoding utf-8
  Dockerfile
Labels: ns:bulk-scan-orchestrator-pr-668

#667 Include exception record ID in transformation
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-667

#669 Remove 'service' property from payment update message
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/model/UpdatePaymentsCommand.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bulk-scan-orchestrator-pr-669

#665 Implemented getCaseRefsByBulkScanCaseReference() in CcdApi and added …
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
  src/integrationTest/resources/ccd/response/search-by-bulk-scan-case-reference-id/README.md
  src/integrationTest/resources/ccd/response/search-by-bulk-scan-case-reference-id/result-empty.json
  src/integrationTest/resources/ccd/response/search-by-bulk-scan-case-reference-id/result-format-single-record.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bulk-scan-orchestrator-pr-665

#672 Added jackson databind suppression
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-672

#671 Added func test for case creation idempotency
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-671

#674 bumping chart versions
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
Labels: ns:bulk-scan-orchestrator-pr-674

#680 Copy orchestrator s2s secret from s2s key vault to bulk scan
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-680

#681 Updated charts configuration for AKS migration
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-orchestrator-pr-681

#678 Implemented call to CcdApi
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/ccd/response/search-result-empty.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-678

#688 Bumping service bus chart
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
Labels: ns:bulk-scan-orchestrator-pr-688

#686 Exclude junit vintage platform from test scope
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-686

#685 Feature/send payment update message after creating case from exception record
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-685

#690 Enabled func test for case creation idempotency
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-690

#683 Moved env vars outside preview scope for aat smoke/func tests
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-683

#695 Renamed processPayments() to createPayments()
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-695

#694 Refactor CreateCaseCallbackService - use PaymentsProcessor
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
Labels: ns:bulk-scan-orchestrator-pr-694

#700 Clean up PaymentsProcessor
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-700

#696 Stop clearing exception record data after attaching it to a case
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-696

#704 Disabled osba service bus by default as it is enabled only for preview
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bulk-scan-orchestrator-pr-704

#705 Added secrets for functional tests on AAT
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-705

#693 Added new mandatory field in preparation for helm 3
  charts/bulk-scan-orchestrator/Chart.yaml
Labels: ns:bulk-scan-orchestrator-pr-693

#711 clear context before test, not for every method
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
Labels: ns:bulk-scan-orchestrator-pr-711

#716 Bumped chart version as it was not done when osba was disabled
  charts/bulk-scan-orchestrator/Chart.yaml
Labels: ns:bulk-scan-orchestrator-pr-716

#715 Disabled deployment on ASE and point DNS to AKS deployment
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-715

#714 Add new "supplementary evidence with ocr" classification
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreationTest.java
  src/integrationTest/resources/servicebus/message/supplementary-evidence-with-ocr-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/model/Classification.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-714

#670 Review create case callback logging
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CallbackException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-670

#718 Add extra test for failed payment command publish
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-718

#719 Clean up test class
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-719

#723 Update message for UI in case failed payment publish
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-723

#724 Show warning when ER has pending payments
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-724
