Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-11, with the labels that each got.

#725 Add envelope legacy case reference
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-725

#717 Return the whole modified exception record to CCD
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/ProcessResult.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-717

#721 Merge exception record fields in a safe way
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-721

#726 Remove code duplication in tests for case creation service
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-726

#728 Add config for creating case when payments are pending
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-728

#732 remove CCD_LOG_LEVEL
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-732

#734 Enable ignoring payments warnings for test jurisdiction
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-734

#735 Updated flex volume env vars secret mappings
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-orchestrator-pr-735

#549 Expand scheduling configurer so AppInsights can register full journey of dependencies
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/SchedulerConfig.java
Labels: enhancement, ns:bulk-scan-orchestrator-pr-549

#738 Disable ignoring payment warnings for test jurisdiction
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-738

#739 disable Legacy Deployment for all env
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-739

#736 Make `idamToken` and `userId` mandatory prerequisite
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-736

#720 Add envelope case reference fields to the exception record
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: do not merge, ns:bulk-scan-orchestrator-pr-720

#745 Set envelope case reference values empty
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
Labels: ns:bulk-scan-orchestrator-pr-745

#746 Disable `case-creation` functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-746

#744 Add functional test for supplementary evidence with ocr classification
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/envelopes/supplementary-evidence-with-ocr-envelope.json
Labels: ns:bulk-scan-orchestrator-pr-744

#740 delete ASE
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bulk-scan-orchestrator-pr-740

#750 Used HashMap instead of ImmutableMap to handle null values
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-750

#743 Bump servicebus 1.2.15 -> 1.2.18
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-743

#731 Introduced CcdCaseSubmitter and ExceptionRecordProvider
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseSearcher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordFinalizer.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordFinalizerTest.java
Labels: ns:bulk-scan-orchestrator-pr-731

#742 Enable ignoring payment warnings for test jurisdiction
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-742

#749 Revert #746 Disable `case-creation` functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-749

#751 Handled multiple case ids as error
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/resources/ccd/response/search-result-multiple.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-751

#754 Introduced field mapping configuration
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/FormFieldMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/InvalidConfigurationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItemFormFieldMappingsTest.java
Labels: ns:bulk-scan-orchestrator-pr-754

#757 Introduce service response parser
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/ServiceResponseParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
Labels: ns:bulk-scan-orchestrator-pr-757

#759 Deserialise subtype field from CCD call under the right name
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
Labels: ns:bulk-scan-orchestrator-pr-759

#760 Renamed transformation specific classes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/ServiceResponseParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/model/response/ClientServiceErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/CaseClientServiceException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/InvalidCaseDataException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
Labels: ns:bulk-scan-orchestrator-pr-760

#762 Classes common to transformation and update moved out of transformati…
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/CaseClientServiceException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/ServiceResponseParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/model/request/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/model/request/DocumentUrl.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/model/request/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/model/request/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/model/request/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bulk-scan-orchestrator-pr-762

#765 Create payments for all exception records
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-765

#766 Clean up PaymentProcessor
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
Labels: ns:bulk-scan-orchestrator-pr-766

#767 Defined Update URL properties
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-767

#768 Create payment for case when attaching evidence to it
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-768

#769 Clean up EnvelopeHandlerTest
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-769

#770 Validation for SUPPLEMENTARY_EVIDENCE_WITH_OCR journey classification
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-770

#776 Get ready helm version upgrade
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bulk-scan-orchestrator-pr-776

#779 Update url integration
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
Labels: ns:bulk-scan-orchestrator-pr-779

#778 Callback validations
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-778
