Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-08, with the labels that each got.

#504 Validate event Id and journey classification for callback
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-504

#506 Add config for transformation endpoints
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-orchestrator-pr-506

#507 Integrate eventid-classification validation
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-507

#511 Extracted repeated url path into a constant
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
Labels: ns:bulk-scan-orchestrator-pr-511

#514 Bump jackson-databind version
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-514

#510 Add model classes for transformation client
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/request/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/response/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/response/InvalidExceptionRecordResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/response/SuccessfulTransformationResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationDataTest.java
Labels: ns:bulk-scan-orchestrator-pr-510

#512 Remove AppInsights environment variable from gradle build setup
  build.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-512

#517 Disable transformation endpoint for bulkscan jurisdiction on prod env
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-517

#520 Rename TeamConfig
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-520

#518 Add transformation api client
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/CaseTransformationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/InvalidCaseDataException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
Labels: ns:bulk-scan-orchestrator-pr-518

#521 Rename `InvalidExceptionRecordResponse` to `TransformationErrorResponse`
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/InvalidCaseDataException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/response/TransformationErrorResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationDataTest.java
Labels: ns:bulk-scan-orchestrator-pr-521

#522 Remove unnecessary test for transformation data models
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationDataTest.java
Labels: ns:bulk-scan-orchestrator-pr-522

#523 Updated validation to handle empty list
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-523

#524 Added cmc jurisdiction to supported jurisdiction to enable cmc in prod
  infrastructure/variables.tf
Labels: ns:bulk-scan-orchestrator-pr-524

#525 Extend queue message by OCR validation warnings
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseFinderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
Labels: ns:bulk-scan-orchestrator-pr-525

#526 Added suppression for jackson databind used by wiremock
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-526

#528 Update jenkins files for loading secrets
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-528

#529 Remove vault values from output - not needed
  infrastructure/output.tf
Labels: ns:bulk-scan-orchestrator-pr-529

#531 Bump servicebus 1.2.14 -> 1.2.15
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-531

#535 Handle heartbeat messages
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
Labels: ns:bulk-scan-orchestrator-pr-535

#536 Change the severity of logs in AuthenticationChecker
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
Labels: ns:bulk-scan-orchestrator-pr-536

#538 Improve logging in dlq cleanup job
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
Labels: ns:bulk-scan-orchestrator-pr-538
