Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2019-04, with the labels that each got.

#362 Add max delivery to output
  infrastructure/output.tf
Labels: ns:bulk-scan-orchestrator-pr-362

#366 Update demo to point to Sidam
  infrastructure/demo.tfvars
Labels: ns:bulk-scan-orchestrator-pr-366

#356 Refactor EventPublisherContainer to process envelopes in CCD
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EventPublisherContainer.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/PublisherResolutionException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/UnknownClassificationException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bulk-scan-orchestrator-pr-356

#363 Remove not needed dsl
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bulk-scan-orchestrator-pr-363

#361 Fix the datetimes created by unit tests
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-361

#365 Handle user errors separately when attaching exception record to a case
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AlreadyAttachedToCaseException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DuplicateDocsException.java
Labels: ns:bulk-scan-orchestrator-pr-365

#368 BPS-593 create exception record case type with container value
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/new-envelope.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/integrationTest/resources/servicebus/message/exception-example.json
  src/integrationTest/resources/servicebus/message/new-application-example.json
  src/integrationTest/resources/servicebus/message/supplementary-evidence-example.json
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/model/Envelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SampleData.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/resources/envelopes/example.json
Labels: ns:bulk-scan-orchestrator-pr-368

#370 Update dlq config in demo to run the dlq scheduler every minute
  infrastructure/demo.tfvars
Labels: ns:bulk-scan-orchestrator-pr-370

#369 Add extra info to error
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-369

#360 Add logs to dlq cleanup task
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
Labels: ns:bulk-scan-orchestrator-pr-360

#371 Added log message for dlq task
  infrastructure/demo.tfvars
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
Labels: ns:bulk-scan-orchestrator-pr-371

#375 Abandon dlq message when the message can't be completed
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/EnvelopeMessager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-375

#378 Migrate unit tests to JUnit5
  build.gradle
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/JurisdictionToUserMappingTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocumentMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AbstractEventPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/MessageOperationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-378

#379 Convert integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/Environment.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/RootControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/endpoints/IdamConfigStatusEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-379

#380 Convert functional and smoke tests to JUnit5
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/IdamConfigStatusTest.java
Labels: ns:bulk-scan-orchestrator-pr-380

#372 Create a service for checking if jurisdictions' accounts are not locked
  build.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessCheckerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AccountLockedException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessCheckerTest.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-372

#383 Create a task for consuming envelopes queue
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTaskTest.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-383

#384 Add more logs for when case worker attaches ER to a case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-384

#382 Update gradle
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseReferenceValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/logging/AppInsightsTest.java
Labels: ns:bulk-scan-orchestrator-pr-382

#385 Prevent processing the queue when a jurisdiction account is locked in IDAM
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/MessageSender.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/ExceptionRecordCreatorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/SupplementaryEvidenceCreatorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueClientsConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/IMessageOperations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/MessageOperations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/MessageOperationsTest.java
Labels: ns:bulk-scan-orchestrator-pr-385

#386 Added custom property to get the dead lettered time
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
Labels: ns:bulk-scan-orchestrator-pr-386

#392 Use SIDAM in sprod
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-392

#395 Fix IDAM url in sprod
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-orchestrator-pr-395

#397 Downgrade spring-cloud-contract-wiremock to version 2.0.2.RELEASE
  build.gradle
Labels: do not merge, ns:bulk-scan-orchestrator-pr-397

#396 Include IDAM response in jurisdiction-specific IDAM status
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationCheckerTest.java
Labels: ns:bulk-scan-orchestrator-pr-396

#352 Retrieve shared infrastructure secrets through Key Vault
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
Labels: do not merge, ns:bulk-scan-orchestrator-pr-352

#399 Catch all exceptions when attaching er to a case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-399

#393 Add functional test for Cleanup dlq task
  Jenkinsfile_CNP
  infrastructure/output.tf
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/envelopes/dead-letter-envelope.json
Labels: ns:bulk-scan-orchestrator-pr-393

#403 reduce dlq messages ttl on aat
  infrastructure/aat.tfvars
Labels: ns:bulk-scan-orchestrator-pr-403

#402 Fix Dlq functional test verification
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
Labels: ns:bulk-scan-orchestrator-pr-402

#401 Updated dlq provider supplier to throw exception
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/DlqReceiverProvider.java
Labels: ns:bulk-scan-orchestrator-pr-401

#406 Use latest (9.0.19) of embed tomcat
  build.gradle
Labels: ns:bulk-scan-orchestrator-pr-406

#408 Handle 400 error when fetching case
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/InvalidCaseIdException.java
Labels: ns:bulk-scan-orchestrator-pr-408

#409 Pause processing messages when IDAM rejects log-in attempts
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessCheckerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/out/JurisdictionConfigurationStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AccountLockedException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/LogInAttemptRejectedException.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTaskTest.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-409

#412 Improve logging
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bulk-scan-orchestrator-pr-412

#414 Add idam config for cmc on demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
Labels: ns:bulk-scan-orchestrator-pr-414

#400 Delete dlq integration test as we have a functional test now.
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/IntegrationTestInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTaskTest.java
  src/test/resources/application-integration.yaml
Labels: ns:bulk-scan-orchestrator-pr-400

#416 Add wiremock dependency suppression
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-416

#417 Add wiremock dependency suppression
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-417

#419 Use `preview` environment defined in jenkins library
  Jenkinsfile_CNP
Labels: ns:bulk-scan-orchestrator-pr-419

#421 Suppress new vulnerability reported by dependency checker
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-orchestrator-pr-421
