Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2020-12, with the labels that each got.

#1291 Logging null fileName instead of throwing
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/AttachDocsToSupplementaryEvidence.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/exceptions/UnrecoverableErrorException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/AttachDocsToSupplementaryEvidenceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/SupplementaryEvidenceHandlerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1291

#1293 fix tomcat vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1293

#1294 syncBranchesWithMaster
  Jenkinsfile_CNP
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1294

#1292 keep BULK_SCAN_ENVELOPES data
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/autocaseupdate/AutoCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/autocaseupdate/CaseDataContentBuilderProvider.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/autocaseupdate/AutoCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/autocaseupdate/CaseDataContentBuilderProviderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1292

#1297 Added logging of feign exception content
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1297

#1300 Revert logging content of feign exception
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1300

#1302 Add func test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AutomaticCaseUpdateTest.java
  src/functionalTest/resources/envelopes/supplementary-evidence-with-updated-ocr-bulkscanauto.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1302

#1303 Logging feign exception
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1303

#1304 Revert logging CCD response
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1304

#1305 Log debug config
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1305
