Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2020-03, with the labels that each got.

#886 Suppress transitive dependencies from spring actuator
  config/owasp/suppressions.xml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-886

#887 Updated config with correct case for SSCS1PE surname mapping
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-887

#881 Send message with payments without delay
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-881

#889 Fix a log message about attaching supplementary evidence to case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-889

#890 Refactor/duplicate checking
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/util/ExceptionRecordAttachDocumentConnectives.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-890

#891 Idempotency for attaching supplementary evidence callback
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/util/ExceptionRecordAttachDocumentConnectives.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-891

#875 Fix log entry to recognise case ID
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-875

#892 Payment queue retry config
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueClientsConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-892

#893 Add more info to the "duplicate documents" scenario
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/util/ExceptionRecordAttachDocumentConnectives.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-893

#895 add logs for testing
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-895

#896 Add Phase 2 config for FR
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-896

#899 make payments retry count configurable
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/QueueClientsConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/PaymentsPublisherTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-899

#898 Remove extra logging
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/PaymentsPublisher.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-898

#902 Amend error message for supplementary evidence callback
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-902

#909 Create a service for handling reclassification callbacks
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ReclassifyCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ReclassifyCallbackServiceTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-909
