Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2020-05, with the labels that each got.

#955 Bump log4j 2.12.1 -> 2.13.2
  build.gradle
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-955

#956 Remove validation on event_id in update case response
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/response/CaseUpdateDetails.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateClientResponseValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-956

#957 add envelope process result to return ccd id and type
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/EnvelopeCcdAction.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/EnvelopeProcessingResult.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/EnvelopeHandlerTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-957

#952 use idam cache
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseRetrievalTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactory.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
  src/test/resources/mappings/oauth2_token-dbd698ed-4dea-45b9-b18b-75be79eed00c.json
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-952

#958 start sending ccd id to processor service
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/FunctionalQueueConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/IProcessedEnvelopeNotifier.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelopeNotifier.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifierTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-958

#960 Update remaining time when value in cache is updated
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCacheExpiry.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCacheExpiryTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-960

#964 change ccd type to string
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifierTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-964

#963 Update owasp suppressions for wiremock
  config/owasp/suppressions.xml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-963

#965 Remove deprecated flag
  Jenkinsfile_CNP
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-965

#966 remove id and add log
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/ProcessedEnvelopeNotifier.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/ProcessedEnvelopeNotifierTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-966

#967 Amend documents helper class
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-967

#970 Update java chart version to 0.2.18
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/requirements.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-970

#973 Add config for SSCS transformation url
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-973

#968 Add validator for attaching scanned docs to target case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/AttachScannedDocumentsValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/AttachScannedDocumentsValidatorTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-968

#969 Add new method for retrieving docs to attach
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-969

#976 Add Purpose section to README
  README.md
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-976

#977 Update attach docs step for supplementary evidence
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackServiceTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-977

#982 Hotfix: wrong list of docs passed to attach
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-982

#980 Cleanup attach docs section
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/util/ExceptionRecordAttachDocumentConnectives.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/AttachScannedDocumentsValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/DuplicateDocsException.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/DocumentsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/AttachScannedDocumentsValidatorTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-980

#983 Upgrade tomcat embedded jars due to CVE-2020-9484
  build.gradle
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-983

#978 use idam open id token
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
  src/test/resources/mappings/oauth2_token-dbd698ed-4dea-45b9-b18b-75be79eed00c.json
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-978
