Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2020-02, with the labels that each got.

#853 Add config for attaching exception record with pending payments
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-853

#854 Remove docker flag from Jenkins_CNP
  Jenkinsfile_CNP
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-854

#852 Fix logging the attachment of exception record to a case
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-852

#858 update checkstyle version
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-858

#859 Remove deprecated chart property from preview config
  charts/bulk-scan-orchestrator/values.preview.template.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-859

#860 Update config to attach exception record with payments
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-860

#857 Add functional tests for attaching exception record with pending payments
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/resources/envelopes/exception-classification-envelope-with-payment.json
  src/functionalTest/resources/envelopes/supplementary-evidence-with-ocr-with-payments-envelope.json
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-857

#855 Attaching Exception records with pending payments to the case
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-855

#862 Revert "Attaching Exception records with pending payments to the case (#855)"
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-862

#863 Revert "Revert "Attaching Exception records with pending payments to the case (#855)" (#862)"
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: do not merge, ns:bsp, rel:bulk-scan-orchestrator-pr-863

#861 Refactor Attach exception to the existing case integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordWithPendingPaymentsTest.java
Labels: do not merge, ns:bsp, rel:bulk-scan-orchestrator-pr-861

#865 Add service config for FPLA
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-865

#864 Improve logging for attaching supplementary evidence
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/events/AttachDocsToSupplementaryEvidence.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-864

#866 Add secrets for FPLA IDAM credentails
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-866

#869 Revert 866 add publiclaw secrets
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-869

#874 Add secrets for publiclaw IDAM credentials
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-874

#877 Bump mockito-junit-jupiter from 3.2.4 to 3.3.0
  build.gradle
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-877

#868 Idempotency bugfix for case creation callback
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/callback/CreateCaseResult.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-868

#880 Increase timeout for case creation assertion in the functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-880

#884 Added surname mapping for new SSCS1PE form
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-884
