Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2020-06, with the labels that each got.

#989 fix dependabot dependencies and OWASP suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-989

#990 log ccd start event id
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-990

#991 Add default SSCS transformation url
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-991

#993 Rename (c|C)ombile -> (i|I)mplementation usages in gradle build file
  build.gradle
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-993

#995 separate health in appinsight
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/TracingConfiguration.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-995

#999 Add logs to the scheduled tasks
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/CleanupEnvelopesDlqTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTask.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-999

#1006 Upgrade to java 11
  Dockerfile
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1006

#1008 Remove irrelevant/unused `RootController`
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/RootControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/RootController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1008

#1009 Add information to the CCD definition Exception Record fields
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/definition/ExceptionRecordFields.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1009

#1005 Solve deprecations/warnings
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/EnvelopeMessager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/EnvelopeParserTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1005

#1007 Replace travis with GitHub actions
  .github/workflows/ci.yml
  .github/workflows/swagger.yml
  .travis.yml
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/SwaggerPublisher.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1007

#971 Added staging values
  Jenkinsfile_CNP
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-971

#1011 Fix secret name
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1011

#1012 Fix build - Make queue name configurable per environment
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1012

#1013 Added MutationTest
  Jenkinsfile_nightly
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1013

#1015 Use searchCaseReference as the target case reference when attaching an exception record
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidations.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseReferenceValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidationsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/TestCaseBuilder.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1015
