Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2020-04, with the labels that each got.

#911 Create an endpoint for serving exception record reclassification callbacks
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ReclassifyCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackControllerAttachToCaseTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackControllerReclassifyTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-911

#913 Validate user ID in reclassification endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackControllerReclassifyTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-913

#910 bump logging version
  build.gradle
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-910

#914 Set default classification list in service config to empty
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-914

#919 Extend the set of valid event IDs for attaching exception records to cases
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidatorTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-919

#921 Configure case update URL for Probate
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-921

#922 Include exception information in 'Not found' error log
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-922

#926 Bump logging version
  build.gradle
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-926

#923 Validate case-update response
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/response/CaseUpdateDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/response/SuccessfulUpdateResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateClientResponseValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-923

#924 new idam-client
  build.gradle
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-924

#928 use new idam-client openId token
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactory.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationCheckerTest.java
  src/test/resources/mappings/oauth2_token-dbd698ed-4dea-45b9-b18b-75be79eed00c.json
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-928

#930 bump idam and fix bearer issue
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ReclassifyCallbackTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-930

#932 Enable functional test and "Revert "new idam-client (#924)""
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ReclassifyCallbackTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactory.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/AuthenticationCheckerTest.java
  src/test/resources/mappings/oauth2_token-dbd698ed-4dea-45b9-b18b-75be79eed00c.json
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-932

#933 disable func test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ReclassifyCallbackTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-933

#934 Revert "disable func test (#933)"
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CreateCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ReclassifyCallbackTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-934

#936 Remove ASE deployment for demo
  infrastructure/demo.tfvars
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-936

#938 add cache for idam token
  build.gradle
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/AccessTokenCacheExpiry.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/CachedIdamToken.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/AccessTokenCacheExpiryTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-938

#937 Use service case type id in the startEvent call for the attachScannedDocsWithOcr event
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordWithOcrTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-937

#940 add idam cached client
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-940

#942 add remove access token from cache functionality
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-942

#943 add userdetail cache
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-943

#945 use cache write instead of removal listener
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-945

#946 Handling feign exception
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-946

#948 Added feign exception content to log
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-948

#950 Revert logging
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/EnvelopeEventProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-950

#947 use single cache
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/CachedIdamCredential.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/CachedIdamToken.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCacheExpiry.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCacheExpiryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/idam/cache/IdamCachedClientTest.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-947

#941 Improve log messages in CcdNewCaseCreator slightly
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-941

#953 add logs for sscs surname issues
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/EnvelopeEventProcessor.java
Labels: ns:bsp, rel:bulk-scan-orchestrator-pr-953
