Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2021-11, with the labels that each got.

#1623 Use Util to fetch doc uuid
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseDataUpdater.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1623

#1628 DTSBPS-774 avoid CVE-2021-22044
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1628

#1629 DTSBPS-243 Moved getLocalDateTime to Util
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateRequestCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/shared/DocumentMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationRequestCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/DocMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/util/Util.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/ExceptionRecordMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/util/UtilTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1629

#1634 DTSBPS-779 change surname mapping for SSCS2
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1634

#1649 DTSBPS-793 add sscs surname mapping
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1649

#1653 DTSBPS-798-remove-devApplicationInsightsInstrumentKey
  charts/bulk-scan-orchestrator/values.aat.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1653
