Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2021-12, with the labels that each got.

#1660 DTSBPS-806 upgrade spring 2.6.1
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CallbackResultController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1660

#1662 DTSBPS-806 fix swagger-ui scanning
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1662

#1663 Changed parameters in AttachToCaseCallbackService
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachToCaseCallbackService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CcdCallbackControllerAttachToCaseTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachToCaseCallbackServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1663

#1669 Bump log4j version
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1669

#1680 Updated fortify release id
  config/fortify-client.properties
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1680
