Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2021-04, with the labels that each got.

#1380 default enable auto case create for Probate
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1380

#1381 Changed log level to warn
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/casecreation/AutoCaseCreator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1381

#1375 SupplementaryEvidenceUpdater
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1375

#1384 Supplementary evidence with ocr updater
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceWithOcrUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceWithOcrUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1384

#1385 suppress vulnerability CVE-2021-21409
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1385

#1386 Code improvement
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceWithOcrUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacherTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceWithOcrUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1386

#1389 add event summary creator to trim long summaries
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventSummaryCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventSummaryCreatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1389

#1390 use config tree
  build.gradle
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1390

#1391 Orchestrator database
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1391

#1392 Fix db name
  infrastructure/main.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1392

#1396 DB in preview
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1396

#1394 Enable flyway
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/FlywayConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/PendingMigrationException.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1394

#1400 avoid vulnerability CVE-2021-29425
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1400

#1397 DB Schema
  src/main/resources/db/migration/V001__Schema.sql
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1397

#1398 add logs for case update-add Supplementary Evidence
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/model/ccd/mappers/SupplementaryEvidenceMapperTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1398

#1401 SQL fixed
  src/main/resources/db/migration/V001__Schema.sql
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1401

#1402 Added db related values
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1402

#1403 Preview props
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1403

#1407 fix db config
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1407

#1409 Remove FLYWAY-...
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1409

#1411 Repo layer
  build.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/CallbackResultRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/DbHelper.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/callbackresult/CallbackResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/callbackresult/CallbackResultRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/callbackresult/NewCallbackResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/callbackresult/RequestType.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1411

#1413 Calling CallbackResultRepository
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackResultRepositoryProxy.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackService.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackResultRepositoryProxyTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacherTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1413

#1415 fix db connection option
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1415

#1422 DTSBPS-509 - add env var for db config
  src/functionalTest/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1422

#1421 DTSBPS-508 - add surname mapping for sscs
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1421

#1417 CallbackRepository find methods
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/CallbackResultRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/DbHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/callbackresult/CallbackResultRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/data/callbackresult/CallbackResultRowMapper.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1417

#1428 CallbackResultService
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackResultService.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackResultServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1428
