Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2022-02, with the labels that each got.

#1736 Fix CVE-2022-23181
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1736

#1741 DTSBPS-859 add proper NFD configs
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1741

#1742 DTSBPS-867 bump-java-chart
  charts/bulk-scan-orchestrator/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1742
