Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2022-07, with the labels that each got.

#1901 Suppress CVE-2022-33915
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1901

#1917 Suppress CVE-2022-31569
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1917

#1919 Fix functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AttachExceptionRecordWithOcrToExistingCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AutomaticCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/AutomaticCaseUpdateTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/CleanupDlqMessagesTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/ExceptionRecordCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/SupplementaryEvidenceTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CaseSearcher.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/EnvelopeMessager.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ExceptionRecordCreator.java
  src/functionalTest/resources/envelopes/dead-letter-envelope.json
  src/functionalTest/resources/envelopes/exception-classification-envelope-with-payment.json
  src/functionalTest/resources/envelopes/invalid-new-application-bulkscanauto.json
  src/functionalTest/resources/envelopes/new-application-with-ocr-data-warnings.json
  src/functionalTest/resources/envelopes/new-envelope-create-case-with-evidence-bulkscan.json
  src/functionalTest/resources/envelopes/new-envelope-create-case-with-evidence-bulkscanauto.json
  src/functionalTest/resources/envelopes/new-envelope-with-evidence.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope-with-payment.json
  src/functionalTest/resources/envelopes/supplementary-evidence-envelope.json
  src/functionalTest/resources/envelopes/supplementary-evidence-with-legacy-id.json
  src/functionalTest/resources/envelopes/supplementary-evidence-with-ocr-bulkscanauto.json
  src/functionalTest/resources/envelopes/supplementary-evidence-with-ocr-envelope.json
  src/functionalTest/resources/envelopes/supplementary-evidence-with-ocr-with-payments-envelope.json
  src/functionalTest/resources/envelopes/supplementary-evidence-with-updated-ocr-bulkscanauto.json
  src/functionalTest/resources/envelopes/valid-new-application-bulkscan.json
  src/functionalTest/resources/envelopes/valid-new-application-bulkscanauto.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1919

#1921 Bump java chart version (DTSBPS-1016)
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.preview.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1921

#1922 Bump servicebus helm chart version
  charts/bulk-scan-orchestrator/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1922

#1926 DTSBPS-1020: Pinned azureem version
  infrastructure/state.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1926
