Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2022-03, with the labels that each got.

#1759 bump java chart
  charts/bulk-scan-orchestrator/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1759

#1765 DTSBPS-878 Removed unused method
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/cdam/CdamApiClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/cdam/CdamApiClientTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1765

#1773 Use premium servicesbus (DTSBPS-886)
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.aat.template.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: do not merge, ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-1773
