Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2024-11, with the labels that each got.

#2694 update LaunchDarkly to version 7.5.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/launchdarkly/LaunchDarklyClient.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2694

#2709 changes for functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/JmsEnvelopeMessager.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/jms/JmsReceivers.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/JmsEnvelopeMessageProcessor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2709

#2699 update packages
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/state.tf
Labels: ns:bsp, prd:bulk-scan, aat/add-or-update, prod/add-or-update, rel:bulk-scan-orchestrator-pr-2699

#2717 FACT-1770 - Increase Logging Clarity
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/CcdCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/EnvelopeTransformer.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/PaymentsProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/SupplementaryEvidenceHandler.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2717
