Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2024-04, with the labels that each got.

#2613 FACT-1662 Remove single server
  build.gradle
  infrastructure/main.tf
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:bsp, prd:bulk-scan, aat/destroy, plan-on-prod, prod/destroy, rel:bulk-scan-orchestrator-pr-2613

#2614 FACT-1662 Switch chart to use correct values
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2614

#2615 FACT-1662 Remove unused secrets
  infrastructure/tf-db-flexible-secrets.tf
Labels: ns:bsp, prd:bulk-scan, aat/destroy, plan-on-prod, prod/destroy, rel:bulk-scan-orchestrator-pr-2615

#2609 migration to springboot 3
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/JmsEnvelopeMessager.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/AttachExceptionRecordWithOcrTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/controllers/CreateCaseCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessCheckerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordTestBase.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateDataClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/response/CaseUpdateDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/model/response/SuccessfulUpdateResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/EnvelopeTransformer.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/response/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/model/response/SuccessfulTransformationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/AuthConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfigItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/TracingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/jms/JmsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/config/jms/JmsReceivers.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/helper/ScannedDocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/logging/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CallbackValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseFinder.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CaseReferenceValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdater.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/Documents.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/EventIdValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/ExceptionRecordAttacher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/envelopehandlers/CreateExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/envelopes/JmsEnvelopeMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/payments/JmsPaymentsPublisher.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/servicebus/domains/processedenvelopes/JmsProcessedEnvelopeNotifier.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/tasks/EnvelopesQueueConsumeTask.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateDataClientResponseValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/caseupdate/CaseUpdateDataClientTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/EnvelopeTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/client/transformation/TransformationClientTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/logging/AppInsightsTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/QueueProcessingReadinessCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachToCaseCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdCaseUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CcdNewCaseCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/CreateCaseCallbackServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2609
