Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2024-07, with the labels that each got.

#2648 cve updates
  README.md
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2648

#2659 FACT-1881 bumped chart and changed to imported image
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/bulk-scan-orchestrator/Chart.yaml
  docker/database/Dockerfile
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2659

#2657 FACT-1837 switch to temp db for aat stg builds
  charts/bulk-scan-orchestrator/values.aat.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2657

#2658 FACT-1837 remove unused stg db
  infrastructure/stg.tfvars
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:bsp, prd:bulk-scan, aat/destroy, prod/add-or-update, rel:bulk-scan-orchestrator-pr-2658
