Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2024-03, with the labels that each got.

#2602 FACT-1632 switch to use flex creds
  charts/bulk-scan-orchestrator/Chart.yaml
  charts/bulk-scan-orchestrator/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2602

#2603 Update AAT to use flexi stg DB
  charts/bulk-scan-orchestrator/values.aat.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2603

#2608 re-create roles/access
  infrastructure/tf-db-flexible.tf
Labels: ns:bsp, prd:bulk-scan, destroy, rel:bulk-scan-orchestrator-pr-2608

#2607 - schema ownership fix [DO NOT MERGE TILL RELEASE]
  infrastructure/tf-db-flexible.tf
Labels: ns:bsp, prd:bulk-scan, add-or-update, rel:bulk-scan-orchestrator-pr-2607
