Repository hmcts/bulk-scan-orchestrator, pull requests merged in 2024-05, with the labels that each got.

#2606 FACT-1641 - refactor so stale data isn't being used.
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/AttachExceptionRecordToExistingCaseTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdater.java
  src/test/java/uk/gov/hmcts/reform/bulkscan/orchestrator/services/ccd/SupplementaryEvidenceUpdaterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2606

#2616 FACT-1698 Renovate Dependency Updates
  .github/workflows/swagger.yml
  build.gradle
  charts/bulk-scan-orchestrator/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:bsp, prd:bulk-scan, plan-on-prod, aat/add-or-update, prod/add-or-update, rel:bulk-scan-orchestrator-pr-2616

#2619 FACT-1671 update README
  README.md
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-orchestrator-pr-2619
